@{
    ViewBag.Title = "Contact";
}

<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <br />
    <h3>@ViewBag.Message</h3>
    <br />

<address>
    590 Missouri Ave, Suite 200<br />
    Jeffersonville, IN 47130<br />
    <a href="tel:812.406.8580">Phone: 812.406.8580</a>
    <br />
    <br />
    <a href="mailto:kimberleyminingllc@gmail.com">Email: kimberleyminingllc@gmail.com</a>
</address>
</div>