@{
    ViewBag.Title = "Home Page";
}

<div id="site-header">
    <div class="container body-content">
        <div class="jumbotron">
            <div class="middle">
                <h1><span class="logo1">KIMBERLEY</span><span class="logo2">MINING</span></h1>
                <div class="whiteline"><hr /></div>
                <p class="lead white">mining the future</p>
            </div>
                <img src="/img/mainImage2.png" />
            </div>
        </div>
    </div>

