
@{
    ViewBag.Title = "Invest";
}

<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <br />
    <h3>@ViewBag.Message</h3>
    <br />
    <p>Please check back later.</p>
    <br />
</div>

