@model My_project.Models.User
@{
    ViewBag.Title = "SingleUser";
}

<div class="container body-content">
    <h2>Successfully added new user:</h2>
    <br />
    <h3>@Model.FirstName @Model.LastName</h3>
    <br />
    <br />
    <p></p><div class="btn btn-primary btn-lg">@Html.ActionLink("View Users", "ViewUsers", "Home")</div></p>
</div>

